# use glob syntax.
syntax: glob
*.so
*.so.[0123456789]
*.so.[0123456789].[0123456789]
*.o
*.o-*
*.a
*.dylib
*~
*CMakeFiles*
example
bbw/bbw_demo_selfcontained/*
bbw/bbw_demo_selfcontained.zip
quicklook-mesh/Mesh.qlgenerator/*
*/*.mexmaci64
*/*.rbr
*.swp
*.swo
bbw/bbw_demo
external/medit/rebar.rbr
bbw/examples/*-volume.dmat
bbw/examples/*-volume.mesh
convertmesh/convertmesh
upright/upright
principal_curvature/curvature
skeleton-builder/skeleton_builder
skeleton-poser/skeleton-poser
*.pyc
